<div class="h-screen text-xl font-semibold font-extralight text-slate-800">
  <div class="flex justify-center text-2xl mt-12">
    <h1>{{ greeting ? greeting.content : "" }}</h1>
  </div>

  <div class="mt-20 flex justify-center">
    <div>
      <h2>CPU's Choice</h2>
      <p>{{ computerChoice }}</p>
    </div>
  </div>

  <div class="mt-20 flex justify-center">
    <div>
      <h2>Result</h2>
      <p>{{ result }}</p>
    </div>
  </div>

  <div class="mt-20 flex justify-center">
    <p>Your Choice</p>
  </div>
  <div id="userSelection" class="mt-4 flex justify-center space-x-12">
    <button
      *ngFor="let choice of choices; let i = index"
      (click)="handleUserChoice(i)"
      class="px-4 py-1 text-sm text-purple-800 rounded-full border border-purple-200 hover:text-white hover:bg-purple-300 hover:border-transparent focus:outline-none focus:ring-1 focus:ring-purple-300 focus:drop-shadow-purple300"
    >
      {{ choice }}
    </button>
  </div>
</div>
