<div
  class="h-screen text-xl font-semibold font-extralight text-slate-800 bg-zinc-50"
>
  <div class="flex justify-center text-2xl pt-12">
    <h1>
      {{ "Welcome to Rock Paper Scissors!" }}
    </h1>
  </div>

  <div class="mt-20 flex justify-center font-medium">
    <div>
      <h2>Computer's Choice</h2>
      <div
        class="mt-4 px-4 py-1 text-sm text-center text-teal-800 rounded-full border border-teal-200"
        [class.selected]="computerChoice"
      >
        {{ computerChoice ? computerChoice : "Waiting for you!" }}
      </div>
    </div>
  </div>

  <div class="flex justify-around mt-12">
    <div class="flex flex-col items-center space-y-4">
      <img
        [src]="randomRobot"
        alt="CPU's Avatar"
        class="border-2 max-w-56 max-h-56 rounded-full border-solid border-slate300 object-cover bg-gradient-to-br from-cyan-500 to-teal-500"
        [ngClass]="{
          'drop-shadow-red600': result?.value == 1,
          'drop-shadow-green500': result?.value == 2,
          'drop-shadow-slate400': result?.value == 0
        }"
      />
      <p>COMPUTER</p>
      <p>{{ stats.userLosses }}</p>
    </div>

    <div class="flex items-center justify-center" style="min-width: 115px">
      <div>
        <p>{{ result?.text }}</p>
      </div>
    </div>

    <div class="flex flex-col items-center space-y-4">
      <div
        class="border-2 w-56 h-56 rounded-full border-solid border-slate300 bg-gradient-to-br from-indigo-500 via-purple-500 to-pink-500 hover:cursor-pointer hover:ring-4 hover:bg-gradient-to-bl hover:ring-white hover:from-pink-500 hover:via-purple-500 hover:to-indigo-500"
        [ngClass]="{
          'drop-shadow-red600': result?.value == 2,
          'drop-shadow-green500': result?.value == 1,
          'drop-shadow-slate400': result?.value == 0
        }"
      >
        <!-- TODO: insert Avatar and keep gradient as background -->
      </div>
      <p>{{ name.toUpperCase() }}</p>
      <p>{{ stats.userWins }}</p>
    </div>
  </div>

  <div class="mt-20 flex justify-center">
    <h2 class="font-medium">Your Choice</h2>
  </div>
  <div class="mt-4 flex justify-center space-x-12">
    <button
      *ngFor="let choice of choices; let i = index"
      (click)="handleUserChoice(i)"
      class="px-4 py-1 text-sm text-purple-800 rounded-full border border-purple-200 hover:text-white hover:bg-purple-300 hover:border-transparent focus:outline-none focus:ring-1 focus:ring-purple-300 focus:drop-shadow-purple300"
    >
      {{ choice }}
    </button>
  </div>
</div>
